#home-container {
    text-align: center;
    margin: 20px auto;
  }
  
  #map-list {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #map-list div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  #map-list div:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .home-container {
    text-align: center;
    margin: 20px auto;
  }
  
  .download-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .download-button:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width:767px) {
    #home-container {
      padding: 0 10px;
    }
  
    #map-list {
      max-width: 100%;
    }
  
    #map-list div {
      padding: 15px;
    }
  }